<!DOCTYPE html>
<html>
<head>
  <title>MusicTrapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%if current_user%>
  <%= link_to "logout", user_logout_path(@user), method: :post %>
  <%end%>
</div>
<%= yield %>

</body>
</html>
