  <div id="head-wrapper">

    <div id="user-container">
      <div id="logo-container">
        <h2 class="heading" id="logo">Spoti-Search</h2>
      </div>

      <div id = "search-container">
            <%= form_for(:track, :html => {:id => "search-form"}) do |f| %>
            <%= f.text_field :title, :class => "large-textbox", :placeholder => "Artist Name"%>
            <%= f.submit "Search", :class => "large-textbox-submit" %>
            <%end%>
      </div>

    </div>
  </div>

<div id="overall-container">

  <div id= "search-results-container">
    <div id="media-wrapper">
      <%= render partial: '/playlists/artist_template' %>
      <%= render partial: '/playlists/related_artists_template' %>
    </div>
      <%= render partial: '/playlists/album_template' %>

  </div>

